<launch>

 <!-- start both the sensors and the move base -->
 <include file="$(find magni_2dnav)/launch/magni_configuration.launch"/>
 <include file="$(find magni_2dnav)/launch/teb_move_base.launch"/> 
 <include file="$(find magni_2dnav)/launch/pose_tracker.launch" />


 <!-- <include file="$(find magni_2dnav)/launch/teb_move_base.launch"/> -->
 <!-- launches the pose tracker and sets initial pose --> 
 <node pkg="timed_roslaunch" type="timed_roslaunch.sh"
    args="5.0 magni_2dnav pose_tracker.launch"
    name="timed_roslaunch" output="screen" />
 

</launch> 

