<launch>
  <machine
    name="johnny_boy"
    address="10.0.0.237"
    user="ubuntu"
    password="ubuntu"
    timeout="10"
    env-loader="/home/ubuntu/Ubiquity-Pi/devel/remote_env_loader.sh"
  />
  
  <!-- Run Test Node -->
  <node
    machine="johnny_boy"
    name="bat_and_sol"
    pkg="sanitation_control"
    type="bat_and_sol_monitor.py"
    output="screen"
  />
</launch>
