<launch>

       <arg name="tx2"   	default="tegra_boy"/>
		<!-- Start remote machine of tegra_boy -->
       <machine name="$(arg tx2)" address="10.0.0.17" user="nvidia" password="nvidia" env-loader="/opt/ros/melodic/env.sh"/> 

			<!-- LAUNCH REMOTE NODES -->
       <node machine="$(arg tx2)" name="startupSensors" pkg="magni_2dnav" type="startupSensors.py" output="screen"/>
       <node machine="$(arg tx2)" name="startupMoveBase" pkg="magni_2dnav" type="startupMoveBase.py" output="screen"/>
       <node machine="$(arg tx2)" name="startupPoseTracking" pkg="magni_2dnav" type="startupPoseTracking.py" cwd="node"  output="screen"/>
       <node machine="$(arg tx2)" name="amcl_pose_tracking_bag" pkg="magni_2dnav" type="amcl_pose_tracking_bag.py" cwd="node"  output="screen"/>
       <node machine="$(arg tx2)" name="goHomeListener" pkg="magni_2dnav" type="goHomeListener.py" cwd="node"  output="screen"/>


</launch> 

